body{
    background-color:  #97790b !important;
    background: url("BG.png") no-repeat 50% 38% fixed;
    background-size: 47%;
    height: 100vh;
}

.A1{
    background-color:  #262c3a;
  }

  
.A2{
    background-color:  #919191;
  }
  #site { width: 100%; background-color:#262c3a; }
  #topo { width: 100%; padding: 10vh; background-color:#919191;}
  #col1 { width: 5%; float: left; height: 100vh; background-color:#262c3a; }
  #col2 { width: 90%; float: left; height: 100% ; }
  #col3 { width: 5%; float: left; height: 100vh;; background-color:#262c3a;}
